name: Auto Assign & Label Issue

on:
  issues:
    types: [opened]

jobs:
  assign_and_label:
    runs-on: ubuntu-latest

    steps:
      - name: Set up GitHub CLI
        uses: actions/setup-gh-cli@v2

      - name: Auto Assign & Label
        uses: peter-evans/assign-issue@v2
        with:
          assignees: ImadRedwan

      - name: Auto Label based on text
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: |
            ${{ github.event.issue.body contains 'Daily Report' && 'REPORT' }}
            ${{ github.event.issue.body contains 'Bug' && 'BUG' }}
            ${{ github.event.issue.body contains 'Question' && 'QUESTION' }}
